body {
  margin: 0;
  background: #0B2429;
}

div {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.one {
  background: #F3AC3C;
  top: 30px;
  left: 200px;
}

.two {
  background: #998235;
  top: 90px;
  left: 140px;
  border-radius: 60px 0 60px 60px;
}

.three {
  background: #F3AC3C;
  top: 150px;
  left: 80px;
  border-radius: 60px 0 60px 60px;
}
